@font-face {
  font-family: Lack;
  src: local(""), url("@/assets/fonts/Lack-Regular.otf") format("opentype");
}

@font-face {
  font-family: Rothek;
  src: local(""), url("@/assets/fonts/Rothek Bold.otf") format("opentype");
}

:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Lack, Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --border-radius: 4px;
  --color-main: rgba(245, 245, 245, 1);
  --color-main-75: rgba(245, 245, 245, .75);
  --color-main-30: rgba(245, 245, 245, .3);
  --color-additional: rgba(162, 13, 246, 1);
  --color-additional-75: rgba(162, 13, 246, .75);
  --color-additional-30: rgba(162, 13, 246, .3);
  --color-accent: rgba(0, 197, 114, 1);
  --color-accent-75: rgba(0, 197, 114, .75);
  --color-accent-30: rgba(0, 197, 114, .3);
  --color-font: rgba(0, 3, 18, 1);
  --color-font-75: rgba(0, 3, 18, .75);
  --color-font-30: rgba(0, 3, 18, .3);
  --font-xs: 13.3333px;
  --font-s: 16px;
  --font-m: 19.2px;
  --font-l: 23.04px;
  --font-xl: 27.648px;
  --font-xxl: 33.1776px;
  //-font-3xl: 0px;
  //-font-4xl: 0px;
  color: var(--color-font);
  font-size: var(--font-s);
  background: var(--color-main);
  font-weight: 400;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
